# =============================================
# INFO = DEPENDENCIES PROYEK ISP VOUCHER WI-FI
# =============================================

## DATABASE
pymysql          # INFO = Driver koneksi MySQL untuk Python
cryptography     # INFO = Dibutuhkan pymysql untuk koneksi SSL ke Aiven MySQL

## FLASK CORE
Flask            # INFO = Web framework utama
Flask-SQLAlchemy # INFO = ORM untuk integrasi SQLAlchemy dengan Flask
Flask-Login      # INFO = Manajemen sesi dan autentikasi pengguna
flask-wtf
## HTTP & ENV
requests         # INFO = Untuk mengirim HTTP POST ke webhook n8n
python-dotenv    # INFO = Membaca variabel lingkungan dari file .env
gunicorn         # INFO = Production server (Hugging Face Spaces / Docker)
tzdata           # INFO = IANA Time Zone Database untuk dukungan zoneinfo di Windows